annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.3.2
dnspython==2.6.1
email_validator==2.2.0
idna==3.8
Markdown==3.7
pydantic==2.8.2
pydantic_core==2.20.1
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
requests==2.32.3
shiboken6==6.7.2
typing_extensions==4.12.2
urllib3==2.2.2
